<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Confinance"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.user.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.objective.CreateObjectiveActivity"
            android:exported="false" />
        <activity
            android:name=".view.category.HouseCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.expense.OthersCategoryExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".view.category.InvestmentCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.category.SalaryCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.expense.NewExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".view.objective.ObjectiveActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.company.PrivacyPolicesActivity"
            android:exported="false" />
        <activity
            android:name=".view.company.TermsOfUseActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.company.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".view.revenue.RevenuesActivity"
            android:exported="false"/>

        <activity
            android:name=".view.revenue.NewRevenueActivity"
            android:exported="false"/>

        <activity
            android:name=".view.expense.ExpensesActivity"
            android:exported="false"/>

        <activity android:name=".view.main.InitialActivity"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>