<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Confinance"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".view.activity.objective.ObjectiveActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityObjective"
        />
        <activity
                android:name=".view.activity.expense.ExpenseActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityExpense"/>
        <activity
                android:name=".view.activity.expense.CreateExpenseActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityExpense"/>
        <activity
                android:name=".view.activity.revenue.RevenueActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityRevenue"/>
        <activity
                android:name=".view.activity.GraphicActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityCompany"/>
        <activity
                android:name=".view.activity.user.UserProfileActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityCompany"/>
        <activity
                android:name=".view.company.AboutUsActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityCompany"/>
        <activity
                android:name=".view.activity.revenue.CreateRevenueActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityRevenue"/>
        <activity
                android:name=".view.activity.user.NewPasswordActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityUser"/>
        <activity
                android:name=".view.activity.user.CodeForgotPasswordActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityUser"/>
        <activity
                android:name=".view.activity.user.ForgotPasswordActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityUser"/>
        <activity
                android:name=".view.company.PrivacyActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityCompany"/>
        <activity
                android:name=".view.company.TermsOfUseActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityCompany"/>
        <activity
                android:name=".view.activity.user.LoginActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityUser"/>
        <activity
                android:name=".view.activity.MainActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityCompany"/>
        <activity
                android:name=".view.activity.user.CreateAccountActivity"
                android:exported="false"
                android:theme="@style/ThemeForActivityUser"/>
        <activity
                android:name=".view.activity.SplashScreenActivity"
                android:exported="true"
                android:theme="@style/ThemeForSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>